.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}

.text-input {
  width: 100%;
  margin-bottom: 15px;
}

.date-input {
  margin-right: 25px;
  margin-bottom: 15px;
}

.agree-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  margin-top: 5px;
  margin-right: 10px;
}

.button {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.switcher {
  display: flex;
  margin-bottom: 10px;
}

.switcher-name {
  margin-right: 10px;
}
