.card {
  margin: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(241, 236, 236);
}

.card__content {
  width: 400px;
  padding: 0 30px;
}

.card__image {
  width: 200px;
}

.card__name {
  margin-bottom: 10px;
}

.card__author {
  margin-bottom: 10px;
  font-size: 11px;
}

.card__button {
}

.card__button:hover {
}
