.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 25%;
  padding: 25px;
}

.card__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  min-height: 250px;
  padding: 25px;
  border: 1px solid #000;
}

.card__image {
  margin-bottom: 10px;
}

.card__name {
  margin-bottom: 5px;
  padding: 0 5px;
}

.card__author {
  margin-bottom: 15px;
  padding: 0 5px;
}

.card__button {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  margin-bottom: 10px;
  cursor: pointer;
}

.card__button:hover {
  background-color: #5a5959;
}

@media (max-width: 1050px) {
  .card {
      flex: 0 1 33.33%;
  }
}

@media (max-width: 850px) {
  .card {
      flex: 0 1 33.33%;
  }
}

@media (max-width: 770px) {
  .card {
      flex: 0 1 50%;
  }
}

@media (max-width: 430px) {
  .card {
      flex: 0 1 100%;
  }
}