.card {
  max-width: 150px;
  border: 1px solid #000;
  text-align: center;
}

.card__image {
  margin-bottom: 10px;
}

.card__name {
  margin-bottom: 5px;
  padding: 0 5px;
}

.card__author {
  margin-bottom: 15px;
  padding: 0 5px;
}

.card__button {
  display: block;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  margin-bottom: 10px;
  cursor: pointer;
}

.card__button:hover {
  background-color: #5a5959;
}
