.round {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 81px 5px 25px;
  border: 1px solid #000;
  border-radius: 15px;
}

.round::placeholder {
  padding-left: 100px;
}

.round:focus::placeholder {
  color: transparent;
}

.corner {
  z-index: 10;
  position: absolute;
  top: 3px;
  right: 5px;
  width: 55px;
  height: 20px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
}

.search {
  position: relative;
  width: 390px;
  height: 30px;
}
