html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 25px 0;
}

.search__label {
  margin-right: 15px;
}

.search__input {
  margin-left: 10px;
}

.search__button {
  width: 100px;
}

.search__page {
  width: 60px;
}

.info {
  text-align: center;
}
